<div class="row">
    <div class='burgerImg col-sm-12 col-md-4'>
        <img src="pacMan02.png" alt="codingImage" class="img-fluid" />
    </div>
    <div class='burgerImg col-sm-12 col-md-4'>
        <img src="burger.png" alt="codingImage" class="img-fluid" />
    </div>
</div>

<h1>Eat-Da-Burger!</h1>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <h2>Purchased Burgers!</h2>
        <ul>
            {{#each burgers}}
            {{#unless devour}}
                <li>
                    {{id}}.
                    {{burgerName}}

                    <button class="change-devour" data-id="{{id}}">
                        Devour!
                    </button>
                </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
        <h2>Devoured Burgers!</h2>
        <ul>
            {{#each burgers}}
            {{#if devour}}
            <li>
                {{id}}.
                {{burgerName}}
                <button data-id="{{this.id}}" class="delBurger">Digest!</button>
                <br>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>

<div class='row'>
    <div class="col-sm-12 col-md-6 offset-md-3 createBurger">
        <h2></h2>
        <form class="create-form">
            <div class="form-group">
                <label for="ca"></label>
                <input type="text" id="ca" name="burgerName" autocomplete="off">
            </div>

            <button id='purchaseBtn' type="submit">Purchase</button>
            <p>
                Enter a burger you want to eat Click the 'Purchase' button
            </p>
        </form>
    </div>
</div>