<li>
	{{burgerName}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Devour!{{else}}Digest!{{/if}}
	</button>
	<button data-id="{{this.id}}" class="delBurger">Delete</button>
</li>